/* src/Notes.css */

.notes-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f4f4f4; /* Slightly darker gray for better contrast */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333; /* Ensures label text is visible against the background */
}

input,
textarea {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #5505d6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b00b3;
}

.notes-list {
  list-style-type: none;
  padding: 0;
}

.notes-list li {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds subtle shadow to notes */
}

.notes-list h3 {
  margin-top: 0;
}

.notes-list p {
  white-space: pre-wrap;
}

.header {
  margin-bottom: 20px;
}

.label-filter {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.select-filter {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff; /* Ensures contrast with the surrounding elements */
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.select-filter:focus {
  border-color: #8400ff;
  outline: none;
}

.select-filter option {
  padding: 10px;
}
